/* HEADER */
header{
    border-bottom: 1px solid var(--gray);
}

.header_index{
    border-bottom: 1px solid var(--gray);
    display: flex;
    justify-content: space-between;
}

.index_header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 30px;
}

.index_header_wrapper h1{
    color: royalblue;
}

.titulo_principal{
    color: royalblue;
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: black;
}



li{
    list-style: none;
}

.user_links{
    display: flex;
    width: 350px;
    justify-content: right;
    margin-right: 40px;
    align-items: center;
}

.user_link{
    margin-left: 30px;
}

.user_link a{
    color: royalblue;
}
.user_link a:hover{
    color: rgb(142, 165, 233);
}

@media (max-width:600px){
    .user_links{
        width: auto;
    }
}