/* MAIN */
main{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 620px;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #6391c9, #9fcdf5, #9fcdf5);
}

/* ANI */
.main_i{
    background-image: url("/images/kwbck4.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main_index, .main_booked{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

.home_main_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 420px;
}

.home_links{
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 200px;
}

.home_link{
    border: var(--box_border);
    border-radius: 50px;
    padding: var(--box_padding);
    transition: all ease-in-out 300ms;
    width: 200px;
    margin: 10px;
    background-color: rgb(106, 136, 226);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);

    /* background: linear-gradient(to left, #6688b1, #88adce); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-color: transparent;
}

/* ANI */

.home_link {
    background: linear-gradient(to right, rgba(160, 193, 255, 0.9), rgba(180, 160, 255, 0.817));
    background-size: 400% 400%;
    animation: gradient 2s ease 1;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* ANI */

.home_link:hover{
    background-color: rgb(106, 136, 226);
    transform: scale(1.1);
}

.dashboard_container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
}

.dashboard_wrapper{
    border: var(--box_border);
    border-radius: var(--box_border_radius);
    padding: var(--box_padding);
}

.stats{
    display: flex;
    align-items: center;
}

/* Project */
.projects_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    
}

.project_wrapper{
    border: var(--box_border);
    border-radius: var(--box_border_radius);
    padding: var(--box_padding);
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(248, 232, 151, 0.8);
}

.project_wrapper:hover{
    transition: all ease-in-out 300ms;
    transform: scale(1.1);
}

.banner_wrapper{
    width: 100%;
    text-align: center;
    background-color: rgba(226, 250, 219, 0.8);

    border-top: 1px solid rgb(250, 250, 250);
}

.banner_container{
    width: 100%;
    height: 150px;
}

.projects_image_wrapper{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.projects_img{
    width: 100px;
    height: auto;
}


/* Booked */

.booked_links:hover{
    transition: all ease-in-out 300ms;
    color: white;
}

.errors{
    margin: 0;
    font-size: .8em;
}