<!DOCTYPE html>
<html lang="en">

    <!-- Head -->
    <%- include("partials/head") %>

<body>
    <!-- Header -->
    <%- include("partials/header") %>

    <main class="main_i">
        <div class="home_main_wrapper">
            <h2>Content Manager</h2>
            <p>Media</p>
            <div class="home_links">
        
                <a class="home_link" href="/create">Create New Project</a>
                <a class="home_link" href="/gallery">Gallery</a>
                <a class="home_link" href="/dashboard">Dashboard</a>
                <a class="home_link" href="https://calendar.google.com/calendar/u/0/r">Calendar</a>
                <a class="home_link" href="/projects">My Projects</a>
            </div>
        </div>

        <!-- <div class="banner_wrapper">
            <h2>Banner</h2>
            <div class="banner_container">
                Video videos videos
            </div>
        </div> -->
    </main>

    <!-- Footer -->
    <%- include("partials/footer") %>
   
</body>

</html>